<div class="col-md-4 sidebar">
    <div class="sidebar-box">
        <img src="/img/_DCS0426.JPG" alt="Image" class="img-fluid mb-4 w-50 rounded-circle">
        <h3 class="text-black">About The Author</h3>
        <p>Hi I'm Eric, a photographer from St Augustine Florida. I travel with my girlfriend Brooke and our Black Lab Cleo. We travel in our self converted camper van. I made this website to document our adventures as well as share information with others.</p>
        <p><a href="/about" class="btn btn-primary btn-md text-white">Read More</a></p>
    </div>
</div>