<footer class="site-footer" style="padding: 1.5em 0 !important; background:white; border-top:solid">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3" style="max-width: 100% !important;">
                <div class="foot-m-center">
                    <h3>
                        <a style="color:black !important" href="/">UniquelyNomad.com</a>
                    </h3>
                    <p style="color:black">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script><br />All rights reserved</p>
                </div>
            </div>

            <div class="col-lg-6" align="right">
                <div class="foot-m-center">
                    <div class="social_29128 white">
                        <div class="social-foot">
                            <a target="_blank" style="background:black" href="https://www.instagram.com/uniquelynomad/"><span class="icon-instagram"></span></a>
                            <a target="_blank" style="background:black" href="https://www.pinterest.com/uniquelynomad"><span class="icon-pinterest"></span></a>
                            <a target="_blank" style="background:black" href="https://flic.kr/ps/3VmxdH"><span class="icon-flickr"></span></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        
    </div>
</footer>