<head>
    <title> {{.Title}} | {{ .Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700|Hepta+Slab:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/amazon.css">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">

</head>